header{
    padding: 2%;
    margin: 2% 10% 0 10%;
    width: 76%;
    height: 15%;
    background: blue;
    opacity: 0.7;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: aliceblue;
}

